---

apiVersion: v1
kind: Secret
metadata:
  labels:
    app.kubernetes.io/component: glpi-bridge
    app.kubernetes.io/instance: "{{ nfc_role_netbox_glpi_kubernetes_instance }}"
    app.kubernetes.io/managed-by: Ansible
    app.kubernetes.io/name: netbox
  name: "netbox-glpi-variables"
  namespace: "{{ nfc_role_netbox_glpi_kubernetes_namespace }}"
type: Opaque
stringData:
  vars.yaml: |
    # EDA
    nofusscomputing_netbox_eda_port: 5000
    nofusscomputing_netbox_api_username: "{{ nofusscomputing_netbox_api_username }}"

    # Netbox
    nfc_pb_netbox_netbox_token: "{{ nfc_pb_netbox_netbox_token }}"
    nfc_pb_netbox_netbox_url: "{{ nfc_pb_netbox_netbox_url }}"

    # GLPI
    nfc_pb_netbox_glpi_url_glpi: "{{ nfc_pb_netbox_glpi_url_glpi }}"
    nfc_pb_netbox_itam_glpi_app_token: "{{ nfc_pb_netbox_itam_glpi_app_token }}"
    nfc_pb_netbox_itam_glpi_user_token: "{{ nfc_pb_netbox_itam_glpi_user_token }}"
