---

apiVersion: v1
kind: Service
metadata:
  labels:
    app.kubernetes.io/component: glpi-bridge
    app.kubernetes.io/instance: "{{ nfc_role_netbox_glpi_kubernetes_instance }}"
    app.kubernetes.io/managed-by: Ansible
    app.kubernetes.io/name: netbox-glpi
  name: "{{ nfc_role_netbox_glpi_kubernetes_instance }}"
  namespace: "{{ nfc_role_netbox_glpi_kubernetes_namespace }}"
spec:
  ports:
    - name: http
      port: 5000
      targetPort: http
  selector:
    app.kubernetes.io/component: glpi-bridge
    app.kubernetes.io/instance: "{{ nfc_role_netbox_glpi_kubernetes_instance }}"
    app.kubernetes.io/managed-by: Ansible
    app.kubernetes.io/name: netbox-glpi
  type: ClusterIP
