---
apiVersion: v1
kind: Secret
metadata:
  labels:
    app.kubernetes.io/component: NetBox
    app.kubernetes.io/instance: "{{ nfc_role_netbox_kubernetes_instance_name }}"
    app.kubernetes.io/managed-by: Ansible
    app.kubernetes.io/name: netbox
  name: "configuration-{{ nfc_role_netbox_kubernetes_instance_name }}"
  namespace: "{{ nfc_role_netbox_kubernetes_namespace }}"
type: Opaque
stringData:
  database.py: |
    DATABASE = {
      'ENGINE':       'django.db.backends.postgresql',
      'NAME':         '{{ nfc_role_netbox_kubernetes_database_name }}',
      'USER':         '{{ nfc_role_netbox_kubernetes_database_user }}',
      'PASSWORD':     '{{ nfc_role_netbox_kubernetes_database_password }}',
      'HOST':         '{{ nfc_role_netbox_kubernetes_database_host }}',
      'PORT':         '{{ nfc_role_netbox_kubernetes_database_port }}',
      'CONN_MAX_AGE': 300,
    }

  redis.py: |
    REDIS = {
        'tasks': {
            'HOST':                     '

            {%- if nfc_role_netbox_kubernetes_redis_enabled -%}

              redis-netbox.{{ nfc_role_netbox_kubernetes_namespace }}.svc

            {%- else -%}

              {{ nfc_role_netbox_kubernetes_redis_host }}

            {%- endif -%}
            ',
            'PORT':                     {{ nfc_role_netbox_kubernetes_redis_port }},
            'USERNAME':                 '{{ nfc_role_netbox_kubernetes_redis_username }}',
            'PASSWORD':                 '{{ nfc_role_netbox_kubernetes_redis_password }}',
            'DATABASE':                 '{{ nfc_role_netbox_kubernetes_redis_database }}',
            'SSL':                      {{ nfc_role_netbox_kubernetes_redis_ssl }},
            'INSECURE_SKIP_TLS_VERIFY': {{ nfc_role_netbox_kubernetes_redis_tls_skip_verify }},
        },
        'caching': {
            'HOST':                     '

            {%- if nfc_role_netbox_kubernetes_redis_enabled -%}

              redis-netbox.{{ nfc_role_netbox_kubernetes_namespace }}.svc

            {%- else -%}

              {{ nfc_role_netbox_kubernetes_redis_cache_host | default(nfc_role_netbox_kubernetes_redis_host) }}

            {%- endif -%}
            ',
            'PORT':                     {{ nfc_role_netbox_kubernetes_redis_cache_port | default(nfc_role_netbox_kubernetes_redis_port) }},
            'USERNAME':                 '{{ nfc_role_netbox_kubernetes_redis_cache_username | default(nfc_role_netbox_kubernetes_redis_username) }}',
            'PASSWORD':                 '{{ nfc_role_netbox_kubernetes_redis_cache_password | default(nfc_role_netbox_kubernetes_redis_password) }}',
            'DATABASE':                 '{{ nfc_role_netbox_kubernetes_redis_cache_database }}',
            'SSL':                      {{ nfc_role_netbox_kubernetes_redis_cache_ssl | default(nfc_role_netbox_kubernetes_redis_ssl) }},
            'INSECURE_SKIP_TLS_VERIFY': {{ nfc_role_netbox_kubernetes_redis_cache_tls_skip_verify | default(nfc_role_netbox_kubernetes_redis_tls_skip_verify) }},
        },
    }
